.resetPassword {
    background-color: var(--body-color);
    height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--mp-3);
  }

.resetPassword > input {
    margin: 10px;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    background-color: #fff;
}

.resetBtn {
    margin-top: 40px;
    background-color: #282c34;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
}