
#Home h3{
    margin-bottom: var(--mp-1);
}
  
  .hometext {
    text-align: center;
    margin: var(--mp-3);
  }

  
  
  .homeSlider {
    margin: auto;
    text-align: center;
    margin-bottom: 3.125rem;
  }
  
  .sliderImg {
    height: 25rem;
    text-align: -moz-center;
  }